

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.herosection{
 background-color: #e0d6f4;
}
.footer{
  background-color: #191410;
}
.card{
  background-color: transparent !important;
  border: none !important;
}




.swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}



.khansection{
  background-color: #f4eee2;
}
.pricingcard{
  background-color: #d4f2ff !important;
  border-radius: 40px !important;
}

.herocontent{
  background-color: rgb(177, 204, 253);
}


